/*MOBILE RESET*/
#mbl-menu
{
	display: none;
}
.h-mbl
{
	display: none;
}
.mbl-pack-mask
{
	display: none;
}
.mbl-paging
{
	display: none;
}
/*END MOBILE RESET*/


@media only screen
and (max-width: 720px)
{
	html, body
	{
		max-width: 720px;
		min-width: 570px;
	}
	.wraper.head
	{
		min-width: 0;
	}
	.head-els
	{
		max-width: 570px;	
		padding-left: 30px;
		padding-right: 30px;
	}
	.menu, .login
	{
		display: none;
	}
	
	.slide-main, #sequence
	{
		height: auto;
		width: 570px;
	}
	.slider_p1,*.slider_p2,*.slider_p3
	{
		display: none;
	}
	.mbl-menu
	{
		width: 40px;
		height: 36px;
		background-color: #5d6d7e;
		border-radius: 2px;
		float: right;
		position: absolute;
		right: 40px;
		padding-top: 4px;
		cursor: pointer;
		z-index: 49;
	}
	
	.mbl_menu_el
	{
		height: 4px;
		width: 25px;
		display: block;
		margin: 5px auto 5px auto;
		background-color: white;
		
	}
	.mbl_menu_cont
	{
		position: absolute;
		top: 250%;
		left: 0;
		right: 0;
		margin: auto;
		width: 520px;
		display: none;
		z-index: ;
	}
	.mbl_menu_cont ul
	{
		
		list-style: none;
		position: absolute;
		left:-9999px;
		opacity:0;
		-webkit-transition:0.25s linear opacity;
		margin-left: auto;
		margin-right: auto;
	}
	.mbl_menu_cont li
	{
		float: none;
		list-style: none;
		background-color: #5d6d7e;
		margin-top: 3px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		text-transform: uppercase;
		color: white;
		font-size: 35px;
		
	}
	.mbl_menu_cont a
	{
		white-space:nowrap;
		display:block;
		text-decoration: none;
		text-decoration: none;
		color: white;
	}
	.mbl-slide
	{
		height: 160px;
		max-width: 570px;
	}
	
	.intro_buttons li:first-child
	{
		margin-bottom: 20px;
	}
	section.paging-main
	{
		line-height: 55px;
		height: 55px;
	}
	.h-pc
	{
		display: none;
	}
	.feature .horizontal
	{
		display: none;
		
	}
	.h-mbl
	{
		display: block;
	}
	.gallery_cont
	{
		width: 580px;
	}
	.gallery_cont .opie-portfolio
	{
		width: 100%;
	}
	.sequence-canvas li img
	{
		
	}
	.wraper_bg-bright h3, .wraper_bg-raw h3
	{
		max-width: 480px;
		margin: auto;
	}
	.packs-cont
	{
		max-width: 720px;
		overflow: hidden;
	}
	.mbl-packs-cont
	{
		width: 880px;
		overflow:hidden;
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -440px;
	}
	.pack
	{
		position: relative;
	}
	
	.profits
	{
		max-width: 370px;
		overflow: hidden;
		margin-top: 60px;
		margin-bottom: 0;
	}

	.mbl-profits-cont
	{
		width: 1120px;
		overflow:hidden;
		position: relative;
		height: 200px;
	}
	.profits-block
	{
		width: 270px;
	}
	.profits-block p
	{
		font-size: 20px;
		line-height: 26px;
		font-family: 'Calibri', serif;
	}
	.profits-block h2
	{
		font-size: 20px;
		line-height: 50px;
	}
	aside.feedback-as.feedback-as-l
	{
		margin-right: 0;
	}
	.feature
	{
		width: 440px;
		margin: 0 70px;
	}
	.mbl-paging
	{
		display: block;
	}
	.features-cont
	{
		width: 430px;
		overflow: hidden;
		margin: 0 auto;
		padding: 0;
	}
	.features-cont-sub
	{
		width: 3495px;
		padding: 0;
		position: relative;
	}
        .features-cont-sub .feedback-as{
            margin: 0;
            padding: 0;
        }
	.mbl-paging-features
	{
		height: 75px;
		line-height: 75px;
	}
	section.mbl-paging-reverse .dot.selected, section.mbl-paging-reverse .dot:hover
	{
		background-color: white;
		opacity:0.85;
		filter:alpha(opacity=85); /* For IE8 and earlier */
	}
	.map
	{
		height: 660px;
	}
	.address
	{
		margin: 0;
		width: 100%;
		top: 0;
	}
	.addr_info
	{
		display: block;
		margin-bottom: 35px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.map_container_1
	{
		width: 100%;
	}
	.address h1
	{
		margin: 95px auto 360px auto;
		padding: 0;
		text-align: center;
	}
	.address h3
	{
		padding: 0;
		font-size: 14px;
		color: #37353a;
		line-height: 18px;
		max-width: 480px;
		margin: auto;
		text-align: center;
	}
	.location
	{
		right: 47%;
	}
	.triangle2
	{
		display: none;
	}
	.head-els.footer
	{
		padding: 60px 0 30px 0;
		text-align: center;
	}
	.head-els.footer .logo
	{
		display: inline-block;
		float: none;
	}
	.f_text
	{
		text-align: center;
		float: none;
		margin: auto;
		height: auto;
		padding-bottom: 60px;
	}
	.f_subscribe
	{
		float: none;
		margin: auto;
		width: 460px;
	}
	.f_subscribe h3
	{
		text-align: center;
	}
	.f_form input.form1
	{
		width: 440px;
		margin-bottom: 20px;
	}
	.f_form input.form2
	{
		width: 460px;
	}
	.f_section .f_form
	{
		height: 140px;
	}
	.f_section  p.last-p 
	{
		padding: 30px 0 60px 0;
		text-align: center;
	}
	footer.wraper
	{
		padding: 0;
	}
	.blog_post
	{
		width: 580px;
		margin: auto;
	}
	.blog_post_tmp
	{
		margin-bottom: 30px;
		width: 580px;
	}
	.blog_cont_right
	{
		display: none;
	}
	.blog_cont_left
	{
		float: none;
		width: 580px;
		margin: auto;
	}
	.blog_cont
	{
		height: 510px;
		min-height: 580px;
		width: auto;
	}
	.member
	{
		display: block;
		width: 160px;
		margin: auto;
	}
        .feature_cont_slider_mobile{
            width: 440px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
			
        }
        .feature_cont_slider_mobile .feature_cont{
            position: relative;
            max-width: none;
            height: 250px;
            margin: 0;
        }
        .feature_cont_slider_mobile .feature_cont .feature{
           margin: 0;
           float: left;
        }
		.feature_cont_slider_mobile .feature_cont .feature p,
		.feature_cont_slider_mobile .feature_cont .feature h3 span{
			font-size: 24px;
		}
		.wraper_bg-bright h3, .wraper_bg-raw h3,
		.team_p p 
		{
			font-size: 18px;
			
		}
		.p_bottom
		{
			font-size: 16px;
			margin-bottom: 25px;
		}
        .team_scroller_mobile_cont {
            max-width: 220px;
            position: relative;
            overflow: hidden;
            margin: 15px auto;
        }
		 .team_scroller_mobile_cont .team_members{
			 position: relative;
			 width: 880px;
		 }
        .team_scroller_mobile_cont .team_members .member{
            float: left;
			padding: 0 30px;
        }
		.slide-main h1.slider_main_header{
			width: auto;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.slider_main_image{
			width: 100%;
		}
		.cont{
			height: 492px;
		}
		.slider_main_image_1{
			width: 75%;
		}
		.slider_main_image_2{
			width: 40%;
			bottom: -10%;
			right: 4%;
		}
		.footer
		{
			height: auto;
		}
		.f_subscribe
		{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.f_form input
		{
			height: 70px;
			font-size: 20px;
			border-radius: 3px;
		}
		.mbl-pack-mask{
			background: white;
			opacity: .5;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.counter_cont{
			width: 384px;
			margin-top: 20px;
			
		}
		.counter_item{
			padding-bottom: 20px;
			width: 190px;
			float: left;
		}
		.counter_item h3{
			padding-top: 5px;
		}
		.counter_item:nth-child(3),.counter_item:nth-child(4){
			padding-top: 30px;
		}
		.counter_item:nth-child(2){
			border-right: none;
			border-bottom: 1px #bdc3c7 solid;
		}
		.counter_item:nth-child(1){
			border-bottom: 1px #bdc3c7 solid;
		}
		.img_border2, .img_border{
			margin-top: 8px;
		}
		.feedback-as.feedback-as-l{
			padding-top: 8px;
			padding-left: 8px;
		}
		.feature p,
		.member p
		{
			font-size: 20px;
			line-height: 26px;
			font-family: 'Calibri', serif;
		}
		.feedback-info .main
		{
			font-size: 21px;
			line-height: 20px;
			font-family: 'Calibri', serif;
		}
		.blog_post_info p,
		.address h3
		{
			font-size: 17px;
		}
		.pack-i-line
		{
			font-size: 21px;
			line-height: 26px;
		}
		.intro_buttons li:first-child
	{
		margin-bottom: 20px;
	}
	ul.intro_buttons{
		position: inherit;
		margin-top: 0px;
	}
	ul.intro_buttons li{
		height: 70px;
		width: 460px;
		line-height: 70px;
		text-align: center;	
		
	}
	ul.intro_buttons li:nth-child(1){
		margin-top: 40px;
	}
	ul.intro_buttons li a{
		width: auto;
		height: auto;
		line-height: inherit;
		font-size: 20px;
	}
}